@model IEnumerable<SalesApplication.WEB.Models.OrderViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>List of Orders</h2>
<div>
    @Html.ActionLink("Make Order", "MakeOrder")
</div>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Manager: </label>
        @Html.DropDownList("manager", ViewBag.Managers as SelectList,
            htmlAttributes: new {@class = "control-label col-md-2"})

        <label class="control-label">Client: </label>
        @Html.DropDownList("client",ViewBag.Clients as SelectList,
            htmlAttributes: new {@class = "control-label col-md-2"})

        <label class="control-label">Product: </label>
        @Html.DropDownList("product", ViewBag.Products as SelectList,
            htmlAttributes: new {@class = "control-label col-md-2"})

        <input type="submit" value="accept" class="btn btn-default"/>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
        </tr>
    }
</table>