@model IEnumerable<SalesApplication.WEB.Models.OrderViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>List of Orders</h2>

<div>
    @Html.ActionLink("Make Order", "MakeOrder", "Home", null, new {@class = "btn btn-default"})
</div>

<br/>
<div class="form-inline">
    <label class="control-label">Manager: </label>
    @Html.DropDownList("manager", ViewBag.Managers as SelectList,
        htmlAttributes: new {@class = "form-control"})

    <label class="control-label">Client: </label>
    @Html.DropDownList("client", ViewBag.Clients as SelectList,
        htmlAttributes: new {@class = "form-control"})

    <label class="control-label">Product: </label>
    @Html.DropDownList("product", ViewBag.Products as SelectList,
        htmlAttributes: new {@class = "form-control"})

    <input type="submit" value="Filter" class="btn btn-default" id="submit"/>
</div>

<br/>
<div id="results">
    @Html.Partial("GetOrderTable")
</div>

@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var client = $('#client').val();
            var manager = $('#manager').val();
            var product = $('#product').val();
            client = encodeURIComponent(client);
            manager =encodeURIComponent(manager);
            prduct = encodeURIComponent(product);
            $('#results').load("http://localhost:8080/Home/GetOrderTable?client=" + client +"&manager=" + manager + "&product=" + product);
        });
    });
</script>
}