@model SalesApplication.WEB.Models.CreateOrderViewModel
@{
    ViewBag.Title = "MakeOrder";
}


<h2>Make Order</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.ManagerId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ManagerId, ViewBag.Managers as SelectList, new {@class = "control-label col-md-2"})
                @Html.ValidationMessageFor(model => model.ManagerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ClientId, ViewBag.Clients as SelectList, new {@class = "control-label col-md-2"})
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductId, ViewBag.Products as SelectList, new {@class = "control-label col-md-2"})
                @Html.ValidationMessageFor(model => model.ProductId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cost)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Make Order" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home", null, new {@class = "btn btn-default"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}